img.logo {
  filter: invert(50%);
}

// a elements doesn't have a `disabled` attribute and picocss doesn't style `aria-disabled`
a[role="button"][aria-disabled="true"] {
  pointer-events: none;
  opacity: .5;
}

button {
  &.inline {
    width: initial;
    display: inline-block;
  }
}

.treeview {
  li {
    list-style: none;
  }
  details {
    summary {
      // Chevron
      &::after {
        float: left;
        margin-right: 0.25rem;
      }
    }
    // Replace border-bottom with border-left
    border-bottom: none;
    &[open]>*[role=group] {
      border-left: thin solid var(--accordion-border-color);
      // Half the width of accordion marker
      margin-left: 0.5rem;
    }
  }
  .treeview__noChildren {
    // Compensate for summary chevron
    margin-left: 1.75rem;
    // Copied from __accordion.scss details
    margin-bottom: var(--spacing);
    padding-bottom: var(--spacing);
    line-height: 1rem;
    label {
      display: inline;
    }
  }
}

details {
  summary {
    label {
      // https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/#issue-2-nested-block-elements-in-summary
      display: inline;
    }
  }
}

// Increase date picker popup trigger area in Chrome
input[type="date"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    float: right;
    color: transparent;
    background: transparent;
    opacity: 0;
  }
}

span.icon {
  vertical-align: text-bottom;
}

label {
  cursor: pointer;
}

fieldset[disabled],
fieldset[aria-disabled="true"] {
  opacity: var(--form-element-disabled-opacity);
  * {
    cursor: not-allowed;
    pointer-events: none;
  }
}

button.progress {
  // Button with progress indicator
  position: relative;
  &>progress {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
  }
  &>.progress__text {
    position: relative;
    color: var(--contrast);
    z-index: 1;
  }
}
