/**
 * Theme
 */

// Variables
@import "themes/default/_colors.scss";

:root {
  --toasty-error-background: #{$red-500};
  --toasty-success-background: #{$green-500};
  --toasty-warning-background: #{$amber-500};
  --toasty-color: #{$grey-900};
}
